@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);
body {
  font-size: 16px;
  font-family: "Poppins";
  background-image: url('/static/images/bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(3px); /* Ajoute le flou */
  z-index: -1; /* Place l'image en arrière-plan */
}

#canvas {
  display: block;
}

.title {
  margin-top: 70px;
  line-height: 1.25;
  text-align: center;
  font-size: 40px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  font-weight: 400;
  color: #2c3f50;
}

.hint {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: #aaa;
  font-size: 14px;
  display: none;
}

#drop-zone {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 150px;
  color: #fff;
  text-align: center;
  pointer-events: none;
  opacity: 0.85;
}

.success-callback {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
  pointer-events: none;
  display: none;
}
.success-callback .title,
.success-callback button {
  position: relative;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}
.success-callback.show {
  pointer-events: auto;
}
.success-callback.show .title {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: 0.3s all ease;
}
.success-callback.show button {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: 0.3s all ease 0.15s;
}
.success-callback .title {
  margin-top: 0;
  margin-bottom: 40px;
}
.success-callback button {
  background: #E60012;
  color: #fff;
  font-weight: 400;
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.success-callback button:hover {
  background: #ff3443;
}